* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.header div a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}







.main-section {
  background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}












.cards-section {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
}

.left {
  margin: 1rem;
  background-color: beige;
  padding: 1rem;
}
.left ul li {
  list-style: none;
  padding: 1rem 2rem;
}
.right {
  margin: 1rem;
  padding: 1rem 2rem;
}
.project-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project-card div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem 2.5rem;
  border-radius: 10px;
}


