* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.header div h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.header div a {
  text-decoration: none;
  color: white;
  padding-right: 25px;
}

.main-section {
  background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: wheat;
  background-color: rgb(15, 14, 14, 0.5);
  text-align: center;
}

.main-section div p {
  margin: 1rem 2rem;
}

.main-section div button {
  background-color: rgb(73, 191, 191);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

.sub-section {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  padding: 40px;
}

.categories-section {
  background: #f3f0f0;
  padding: 1.2rem 2rem;
}

.sub-section div ul {
  list-style: none;
  margin-top: 15px;
}
.sub-section div ul li {
  padding: 10px 0;
}

.cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .header div a {
    display: none;
  }

  .sub-section {
    grid-template-columns: 1fr;
  }
}