*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,rgb(105, 105, 186),rgb(20, 20, 117));
    padding: 1.5rem;
    color: white;
}

header div a{
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

section{
    background-color: rgb(239, 238, 238);
}
section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

section div h1{
    color: rgb(28, 26, 26);
    margin-top: 20px;
}

section div p{
    color: rgb(28, 26, 26);
    margin: 1rem 2rem;
    text-align: center;
    width: 50vw;
    font-size: 1.2rem;
}

i{
    color: yellowgreen;
}